# Team Butterfly owns this repository
* @leanix/team-butterfly

# @ajinkyapatil8190 owns these files since changes in those affect linter checking for compliance
.github/in-solidarity.yml @ajinkyapatil8190
CODE_OF_CONDUCT.md @ajinkyapatil8190
SECURITY.md @ajinkyapatil8190