name: Renovate Configuration Validation

on:
  push:
    branches-ignore:
      - main

jobs:
  detect-modified-renovate-configs:
    name: Detect modified Renovate configuration files
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changed-renovate-configs.outputs.all_changed_files }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Get changed renovate configs
        id: changed-renovate-configs
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files: |
            renovate.json
            default.json
            renovate-presets/**/*.{json,json5}
          matrix: true

  validate-renovate-configs:
    name: Validate Renovate Configs
    runs-on: ubuntu-latest
    needs: [detect-modified-renovate-configs]
    if: ${{ needs.detect-modified-renovate-configs.outputs.matrix != '[]' }}
    strategy:
      matrix: 
        config: ${{ fromJSON(needs.detect-modified-renovate-configs.outputs.matrix) }}
      max-parallel: 4
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24.13.0'

      - name: Install renovate
        run: npm install -g renovate

      - name: Validate configuration "${{ matrix.config }}"
        run: renovate-config-validator ${{ matrix.config }}

  collect-validation-results:
    # This job must always run and report a status since it is a required status check
    name: Renovate validation results collector
    needs: 
        - detect-modified-renovate-configs
        - validate-renovate-configs
    runs-on: ubuntu-latest
    if: always() && !cancelled()
    steps:
      - name: All renovate config validation jobs passed
        id: renovate-validation-passed
        run: |
          if [ "${{ needs.detect-modified-renovate-configs.outputs.matrix }}" == "[]" ]; then
            echo "No renovate configuration changed"
          elif [ "${{ needs.validate-renovate-configs.result }}" == "success" ]; then
            echo "All renovate config validation jobs passed!"
          else
            echo "Renovate config validation failed!"
            exit 1
          fi

